<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Generate CRUD{% endblock title %}</title>

    <link href="{{ asset('lib/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('lib/bootstrap3-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('lib/datatables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('lib/datatables-bootstrap3-plugin/media/css/datatables-bootstrap3.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/AdminLTE.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body {% block body_param %}class="skin-black"{% endblock body_param %}>
    {% block body %}
        {% block header %}
            <header class="header">
                <a href="/" class="logo">Generate CRUD</a>
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </nav>
            </header>
        {% endblock header %}
        {% block wrapper %}
            <div class="wrapper row-offcanvas row-offcanvas-left">

                <aside class="left-side sidebar-offcanvas">
                    <!-- sidebar: style can be found in sidebar.less -->
                    <section class="sidebar">
                        <!-- sidebar menu: : style can be found in sidebar.less -->
                        <ul class="sidebar-menu">
                            {% block menu %}{% include 'menu.twig' %}{% endblock %}
                            <li class="user">
                                <a href="/{{ app.security_path }}/logout">
                                    <i class="fa fa-user"></i> <span>{{ app.security.token.user.username }} (logout)</span>
                                </a>
                            </li>
                        </ul>
                    </section><!-- /.sidebar -->
                </aside>

                <!-- Right side column. Contains the navbar and content of the page -->
                <aside class="right-side">
                    {% block message %}
                        <br>
                        {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'danger'] %}
                        {% if app.session.flashbag is defined %}
                            {% for alertType in alertTypeAvaillable %}
                                {% for alert in app.session.flashBag.get(alertType) %}
                                    <div class="alert alert-{{ alertType }} alert-dismissable">
                                        {% if alertType == 'info' %}
                                            <i class="fa fa-info"></i>
                                        {% elseif alertType == 'success' %}
                                            <i class="fa fa-check"></i>
                                        {% elseif alertType == 'warning' %}
                                            <i class="fa fa-exclamation"></i>
                                        {% elseif alertType == 'danger' %}
                                            <i class="fa fa-warning"></i>
                                        {% endif %}
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <b>{{ alert.message }}</b>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endblock message %}
                    {% block content %}{% endblock %}
                </aside><!-- /.right-side -->
            </div><!-- ./wrapper -->
        {% endblock wrapper %}
    {% endblock body %}

    <script src="{{ asset('lib/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('lib/wysihtml5/parser_rules/advanced.js') }}"></script>
    <script src="{{ asset('lib/wysihtml5/dist/wysihtml5-0.3.0.min.js') }}"></script>
    <script src="{{ asset('lib/bootstrap3-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.js') }}"></script>
    <script src="{{ asset('lib/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('lib/datatables-bootstrap3-plugin/media/js/datatables-bootstrap3.js') }}"></script>
    {% block script %}{% endblock script %}
</body>
</html>
