{% extends 'ag_base/backend.html.twig' %}

{% block javascripts %}

    {{ parent() }}

    <!-- page script -->
    <script type="text/javascript">

        var pageDataTable;

        $(function() {
            pageDataTable = $("#__TABLENAME___list").dataTable({
				serverSide: true,
				ajax: '__TABLENAME__/list',
				columns: [
					{% for table_column in table_columns %}
					{ "data": "{{ table_column }}"},
                    {% endfor %}
					{
						"orderable": false,
						"data": null,
						"defaultContent": null
					}
				],
                fnDrawCallback: function () {
                    // callback after draw
                },
				rowCallback: function( row, data ) {
					var actions = '<a href="__TABLENAME__/edit/' + data.{{primary_key}} + '" class="btn btn-primary btn-xs">Edit</a> <a href="__TABLENAME__/delete/' + data.{{primary_key}} + '" onclick="return confirm_delete();" class="btn btn-danger btn-xs">Delete</a>';
					$('td:eq({{ table_columns|length }})', row).html( actions );

                    {% for image_tag_info in image_tag_insertion %}
                    $('td:eq({{ image_tag_info.column_idx }})', row).append('<br /><img width="80" src="{{ image_tag_info.image_path }}' + data.{{ image_tag_info.column_name }} + '" />');
                    {% endfor %}

                    {% for video_tag_info in video_tag_insertion %}
                    $('td:eq({{ video_tag_info.column_idx }})', row).append('<br />' +
                            '<video class="video-js vjs-default-skin" controls preload="auto" width="300" height="200" data-setup=\'{"example_option":true}\'>' +
                            '<source src="{{ video_tag_info.video_path }}' + data.{{ video_tag_info.column_name }} + '" type="video/' + data.{{ video_tag_info.column_name }}.substr(data.{{ video_tag_info.column_name }}.lastIndexOf('.') + 1) + '" />');
                    {% endfor %}

                    {% for key, call_to_action_info in call_to_action %}
                    $('td:eq({{ table_columns|length }})', row).append(
                        '<a data-pk="{{primary_key}}" data-callback="{{ call_to_action_info.callback }}" data-params="{{ call_to_action_info.data }}" data-url="{{ call_to_action_info.url }}" data-method="{{ call_to_action_info.method }}" class="btn btn-info btn-xs btn-cta">{{ call_to_action_info.btn_name }}</a>'
                    );
                    {% endfor %}
                    $('td:eq({{ table_columns|length }})', row).find('.btn-cta').click(function() {

                        var url = $(this).data('url');
                        var data = $(this).data('params');
                        var method = $(this).data('method');
                        var callback = $(this).data('callback');

                        {% for columnIdx, table_column in table_columns %}
                        url = replaceToken(url, "{{ table_column }}", $('td:eq({{ columnIdx }})', row).html());
                        {% endfor %}

                        $.ajax({
                            method: method,
                            url: url,
                            data: JSON.stringify(data),
                            processData: false,
                            contentType: 'application/json'
                        }).done(function( msg ) {
                            if(typeof callback !== "undefined") {
                                window[callback]();
                            }
                        }).error(function( request, status, msg ) {
                            alert(msg);
                        });
                    });
				}
			});

        });

        function replaceToken(string, token, value) {
            return string.replace('{' + token + '}', value);
        }

        function refresh() {
            pageDataTable.fnStandingRedraw();
        }

        function confirm_delete(){
            if(!confirm("Are you sure? This action cannot be undone.")) { 
                return false;
            }
        }

    </script>

{% endblock %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': '__TABLENAME___list'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    __TABLENAMEUP__ list
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">

                        {% include 'ag_alerts.html.twig' %}

                        <div class="box">
                            <div class="box-header">
                                <p>{{ table_intro }}</p>
                            </div><!-- /.box-header -->

                            <div class="box-body table-responsive">
                                <a class="btn btn-primary" href="{{ path('__TABLENAME___create') }}">Create new __TABLENAME__</a><br /><br />
                                <table id="__TABLENAME___list" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            {% for table_column in table_columns %}
                                            <th>{{ table_column }}</th>
                                            {% endfor %}
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            {% for table_column in table_columns %}
                                            <th>{{ table_column }}</th>
                                            {% endfor %}
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
